<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <p>hey</p>
    <p><%= fileData.fileName %></p>
    <p><%= fileData.fileSize %> kbit</p>
    <p><%= fileData.createdAt %></p>
    <form
      action="/library/<%= urlParams.folderName %>/<%= fileData.fileName %>"
      method="POST"
    >
      <%- include('partials/errors.ejs') %>
      <h1 class="formHeader">Update</h1>
      <button class="submitButton" type="submit">Update</button>
    </form>
  </body>
</html>
