<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Modal Example</title>
    <link rel="stylesheet" href="css/library.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Multiple Modals Example</h2>
    <button id="openModal1">Open Modal 1</button>

    <!-- Modal 1 -->
    <div id="myModal1" class="modal">
      <form action="/library" method="POST">
        <%- include('partials/errors.ejs') %>
        <h1 class="formHeader">Create Folder</h1>
        <label for="videogameName">Folder Name: </label>
        <input type="text" name="folderName" id="folderName" required />
        <button class="submitButton" type="submit">Submit</button>
      </form>
    </div>

    <% if(userLibrary) { %> <% for (let i = 0; i < userLibrary.length; i++) { %>
    <br />
    <a href="library/<%= userLibrary[i].folderName %>"
      ><%= userLibrary[i].folderName %></a
    ><br />
    <a href="update_folder_name/<%= userId %>/<%= userLibrary[i].folderName %>"
      >Update Folder Name</a
    >
    <a href="delete_folder/<%= userId %>/<%= userLibrary[i].folderName %>"
      >Delete Folder </a
    ><br />
    <% } %> <% } %>

    <script>
      // Function to open modals
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }

      // Function to close modals
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Add event listeners to buttons
      document.getElementById("openModal1").onclick = function () {
        openModal("myModal1");
      };
      document.getElementById("openModal2").onclick = function () {
        openModal("myModal2");
      };

      // Add event listeners to close buttons
      const closeButtons = document.getElementsByClassName("close");
      for (let btn of closeButtons) {
        btn.onclick = function () {
          closeModal(btn.getAttribute("data-modal"));
        };
      }

      // Close modal when clicking outside of it
      window.onclick = function (event) {
        if (event.target.classList.contains("modal")) {
          closeModal(event.target.id);
        }
      };
    </script>
  </body>
</html>
